.main_header {
  background-color: #f4f0e1;
}

.title {
  font-weight: 900;
  font-size: large;
  color: #f70000;
  text-align: center;
}

.subtitle {
  font-size: medium;
  color: #3f1200;
  text-align: center;
}

img {
  height: 20%;
  width: 20%;
}
